.portfolio{
    display: flex;
    flex-direction: column;
    padding: 0rem 3.5rem 0rem 3.50rem;
    margin-top: 12rem;
}

.portfolio span:nth-of-type(2){
    display: flex;
    color: var(--black);
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.portfolio span:nth-of-type(1){
    color: var(--orange);
    font-size: 6rem;
    font-weight: bold;
}

@media screen and (max-width:480px) {
    .portfolio{
        margin-top: -19rem;
        margin-bottom: 15rem;
        gap: 2rem;
    }

    .portfolio span:nth-child(2){
        font-size: 3.72rem;
    }
}

/* Slider Styling */
/*
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider{
    margin-top: 3rem;
    width: 100%;
}

.portfolio-slider .swiper-slide{
    width: 30rem;
}

.portfolio img{
    width: 45rem;
    filter: drop-shadow(-22px 25px 23px rgba(0,0,0, 0.35));
    border-radius: 19px; 
}

*/