.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--orange);
    border-radius: 1rem;
    position: relative;
    padding: 3px;
    cursor: pointer;
}

.toggle>*{
    width: 2rem;
    height: 2rem;
    color: var(--orange);
}

.t-button{
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
}