.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    margin-top: 12rem;
    margin-bottom: 10rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.c-right .user{
    width: 40rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 17rem !important;
}

.c-blur1{
    top: 1rem;
    left: 10rem;
}

.c-button{
    border-radius: 13px;
    border: none;
    color: black;
    font-size: 3rem;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.c-button:hover{
    background: antiquewhite;
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
}

.c-f-head{
    color: var(--orange);
    font-weight: bold;
    font-size: 4rem;
}

@media screen and (max-width: 480px) {
    .contact-form{
        margin-top: -10vh;
        flex-direction: column;
        padding: 0.5rem 1rem;
        margin-bottom: 15rem;
    }

    .awesome span:nth-of-type(1){
        font-size: 5.9rem;
        font-weight: bold;
    }
    
    .c-right span:nth-of-type(1){
        font-size: 4rem;
    }

    .c-right .user{
        width: 30rem;
    }

}