.works{
    padding: 0rem 3.5rem 0rem 3.50rem;
    display: flex;
    margin-top: -7rem;
    gap: 8rem;
}

.w-awesome{
    display: flex;  
    flex-direction: column;
    flex: 1;
}

.w-awesome>:nth-child(1){
    color: var(--orange);
    font-size: 8rem;
}

.w-awesome>:nth-child(2){
    font-size: 4rem;
}

.w-right{
    display: flex;
    flex: 1.5;
    gap: 1.5rem;
    margin-left: 15rem;   
    margin-top: 4rem; 
}


.w-right>:nth-child(5){
    display: flex;
    margin-top: 34rem;
    margin-left: -86.5rem;
}

.w-right>:nth-child(6){
    display: flex;
    margin-top: 34rem;
}

.w-right>:nth-child(7){
    display: flex;
    margin-top: 34rem;
}

.w-right>:nth-child(8){
    display: flex;
    margin-top: 34rem;
}

@media (min-width: 724px) and (max-width:1158px) {
    .works{
        flex-direction: column;
    }

    .w-right{
        padding: 1rem;
    }

    .w-right>*{
        transform: scale(.93);
    }
    
    .w-right>:nth-child(1){
        display: flex;
        margin-top: -10rem;
        margin-left: -14rem;
    }
    
    .w-right>:nth-child(2){
        display: flex;
        margin-top: -10rem;
    }
    
    .w-right>:nth-child(3){
        display: flex;
        margin-top: -10rem;
    }
    
    .w-right>:nth-child(4){
        display: flex;
        margin-top: -10rem;
    }
    
    .w-right>:nth-child(5){
        display: flex;
        margin-left: -86rem;
        margin-top: 20rem;  
    }
    
    .w-right>:nth-child(6){
        display: flex;
        margin-top: 20rem;  
    }
    
    .w-right>:nth-child(7){
        display: flex;
        margin-top: 20rem;  
    }
    
    .w-right>:nth-child(8){
        display: flex;
        margin-top: 20rem;  
    }

}

@media (min-width: 550px) and (max-width:723px) {
    .works{
        flex-direction: column;
        margin-bottom: 25rem;
    }

    .w-right{
        padding: 1rem;
    }

    .w-right>*{
        transform: scale(.93);
    }
    
    .w-right>:nth-child(1){
        display: flex;
        margin-top: -10rem;
        margin-left: 0rem;
    }
    
    .w-right>:nth-child(2){
        display: flex;
        margin-top: -10rem;
    }
    
    .w-right>:nth-child(3){
        display: flex;
        margin-left: -43rem;
        margin-top: 20rem;
    }
    
    .w-right>:nth-child(4){
        display: flex;
        margin-top: 20rem;
        margin-left: 0rem;
    }
    
    .w-right>:nth-child(5){
        display: flex;
        margin-left: -43rem;
        margin-top: 49rem;  
    }
    
    .w-right>:nth-child(6){
        display: flex;
        margin-left: 0rem;
        margin-top: 49rem;  
    }
    
    .w-right>:nth-child(7){
        display: flex;
        margin-left: -43rem;
        margin-top: 79rem;  
    }
    
    .w-right>:nth-child(8){
        display: flex;
        margin-left: 0rem;
        margin-top: 79rem;  
    }

}

@media (min-width: 0px) and (max-width: 549px) {
    .works{
        flex-direction: column;
        margin-bottom: 25rem;
    }

    .w-right{
        padding: 1rem;
    }

    .w-right>*{
        transform: scale(.9);
    }
    
    .w-right>:nth-child(1){
        display: flex;
        margin-top: -10rem;
        margin-left: -20rem;
    }
    
    .w-right>:nth-child(2){
        display: flex;
        margin-top: -10rem;
    }
    
    .w-right>:nth-child(3){
        display: flex;
        margin-left: -43rem;
        margin-top: 20rem;
    }
    
    .w-right>:nth-child(4){
        display: flex;
        margin-top: 20rem;
        margin-left: 0rem;
    }
    
    .w-right>:nth-child(5){
        display: flex;
        margin-left: -43rem;
        margin-top: 49rem;  
    }
    
    .w-right>:nth-child(6){
        display: flex;
        margin-left: 0rem;
        margin-top: 49rem;  
    }
    
    .w-right>:nth-child(7){
        display: flex;
        margin-left: -43rem;
        margin-top: 79rem;  
    }
    
    .w-right>:nth-child(8){
        display: flex;
        margin-left: 0rem;
        margin-top: 79rem;  
    }
}

/*
.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 38rem;
    height: 38rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white; 
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle>:nth-child(1){
    transform: scale(.2);
    top: -6rem;
    left: 13rem;
}
.w-mainCircle>:nth-child(2){
    transform: scale(.25);
    top: 12rem;
    left: -7rem;
}
.w-mainCircle>:nth-child(3){
    transform: scale(.15);
    top: 11rem;
    left: 13rem;
}
.w-mainCircle>:nth-child(4){
    transform: scale(.03);
    top: 12rem;
    left: 32rem;
}
.w-mainCircle>:nth-child(5){
    transform: scale(.07);
    top: 29rem;
    left: 13rem;
}

.w-sec{
    width: 16rem;
    height: 16rem;
    position: absolute;
    border-radius: 100%;     
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--smboxShadow);
}

.w-backCircle{
    position: absolute;
    height: 16rem;
    width: 16rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background: #1949b8;
    left: 40rem;
    top: 6rem;
}

.yellowCircle{
    background-color: #F5c32c;
    left: 40rem;
    top: 18rem;
}

*/

