.footer{
    display: flex;
    margin: -0.5rem -6.5rem;
    align-items: center;
    position: relative;
    margin-top: -19rem;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    font-size: 20px;
    font-weight: bold;
    gap: 4rem;
    color: white;
}

.f-content>:nth-child(1){
    font-size: 5rem;
    color: var(--black);
}

.f-icons{
    display: flex;
    gap: 2rem;
    transform: scale(1);
}

.f-icons>:hover{
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .f-content>:nth-child(1){
        font-size: 3rem;
        color: var(--black);
    }
}